POSTGRES_USER=sicae
POSTGRES_PASSWORD=CAMBIAR_CONTRASENA_POSTGRES
POSTGRES_DB=sicaeUsuario

MYSQL_ADMIN_PASSWORD=CAMBIAR_CONTRASENA_MYSQL
MYSQL_VEHICULOS_DB=sicaevehiculo
MYSQL_ESTACIONAMIENTO_DB=sicaeEstacionamiento